<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurante D.I.W</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <!-- Scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>

    <link rel="icon" type="image/png" href="../img/RM.png" />

    <script type="module" src="../js/app.js"></script>

</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="../index.html" class="brand-logo a-height"><img src="../img/RM.png" alt="Logo" class="brand-logo" width="60rem" height="100%"></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="../index.html">Home</a>
            </li>
            <li class="active">
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="makeorder.html">Make an order</a>
            </li>
            <li>
              <a href="getintouch.html">Get in touch</a>
            </li>
            <li>
              <a class="btn waves-effect waves-light" href="signin.html">Sign In</a>
            </li>
          </ul>
        </div>
    </nav>
</body>

</html>